:root {
    --primary-color: #ff6200;
    --highlight-color: #1d3c84;
    --card-background-color: #feeada;
    --font-color: #2d1100;
    --background-color: #ffffff;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

header, footer {
    background-color: var(--primary-color);
    color: var(--background-color);
    padding: 2rem;
}

footer {
    text-align: center;
}

main {
    color: var(--font-color);
}

main div {
    background-color: var(--card-background-color);
    margin: 1rem;
    padding: 1rem;
    border: 1px solid var(--font-color);
}

h1, h2 {
    font-family: "Montserrat", sans-serif;
}

h2 {
    margin-bottom: 1rem;
}

p {
    font-family: "Arvo", serif;
}

.highlight {
    color: var(--highlight-color);
    font-weight: 700;
}

.square {
    font-size: large;
}

#sq-orange {
    color: var(--primary-color);
}

#sq-white {
    color: var(--background-color);
}

#sq-card {
    color: var(--font-color);
}

#sq-text {
    color: var(--font-color);
}

#sq-highlight {
    color: var(--highlight-color);
}


picture img {
    display: block;
    width: 100%;
    height: auto;
    place-self: center;
    margin: 8px;
}

picture p {
    text-align: center;
    margin: 1rem;
}

.mobile {
    max-width: 480px;
}