:root {
    --highlight-color: #dd9a00;
    --main-color: #3a2276;
    --secondary-color: #e4edff;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--main-color);
}

h1, h2 {
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
}

p {
    font-family: 'Times New Roman', Times, serif;
    padding: 2px 0 2px 0;
}

.planning-card {
    border: 2px var(--highlight-color) solid;
    margin: 1rem;
    padding: 1rem;
    background-color: var(--secondary-color);
    color: var(--main-color);
    h2 {
        margin-bottom: 2rem;
        font-weight: 700;
    }
}

footer {
    text-align: center;
    color: var(--secondary-color);
}

.highlight {
    font-weight: 700;
    color: var(--secondary-color);
    background-color: var(--highlight-color);
    padding: 2px;
}