:root {
    --primary-color: #352274;
    --background-color: #f2f2fe;
    --heading-color: #ffffff;
    --text-color: #050021;
    --nav-background-color: #cecee2;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* Font, color and sizing */

body {
    font-family: "Arimo", sans-serif;
    font-weight: 400;
    background-color: var(--background-color);
}

header, footer {
    background-color: var(--primary-color);
}

main {
    max-width: 840px;
    min-width: 400px;
    margin: 0 auto;
}

/* Navigation */

nav ul {
    display: flex;
    flex-direction: column;
    background-color: var(--nav-background-color);
    align-items: center;
    padding: 8px;
}

nav li {
    list-style: none;
    margin: 4px;
}

nav a {
    text-decoration: none;
    color: var(--text-color);
    font-size: x-large;
}

nav a:hover {
    color: #d79419;
    font-weight: 700;
}

#page-title {
    color: var(--heading-color);
    font-size: xx-large;
    padding: 1rem;
    font-weight: 700;
}

/* Album */

#album {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
    grid-gap: 20px;
    place-items: center;
    margin: 1rem;
}

#album figcaption {
    color: var(--text-color);
    text-align: center;
    padding: 1rem;
}

#album img {
    width: 100%;
    height: auto;
    border-radius: 1rem;
    box-shadow: 0px 0px 5px;
}

/* Navigation button */

nav {
    display: none;
}

#menu {
    color: var(--heading-color);
    position: absolute;
    top: 1rem;
    right: 1rem;
    font-weight: 700;
    font-size: xx-large;
    background: none;
    border: 0;
}

#menu::before {
    content: "≡";
}

#menu.open::before {
    content: "⨯";
}

.open {
    display: block;
}

/* Other */

main h1 {
    text-align: center;
    padding: 2rem;
}

footer {
    color: var(--heading-color);
    text-align: center;
    padding: 1rem;
}

footer p {
    margin: 0.5rem;
    font-weight: 700;
}