@media (min-width: 740px) {
    header  {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    #menu {
        display: none;
    }

    nav {
        display: flex;
        background-color: var(--primary-color);
    }

    .navigation {
        display: flex;
        justify-content: flex-end;
        flex-direction: row;
    }

    .navigation li {
        display: block;
    }

    .navigation a {
        flex: 1 1 100%;
        color: #fff;
    }

    #temple-grid {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
        grid-gap: 25px;
        place-items: center;
    }
}